# Template for Hardhat environment variables.

# To use this template, copy this file, rename it .env, and fill in the values.

# To access the values stored in this .env file you can use: process.env.VARIABLENAME
ALCHEMY_API_KEY=
DEPLOYER_PRIVATE_KEY=
ETHERSCAN_API_KEY=
