# Template for Hardhat environment variables.

# To use this template, copy this file, rename it .env, and fill in the values.

# To access the values stored in this .env file you can use: process.env.VARIABLENAME
INFURA_API_KEY= # used while merging and generating proofs
DEPLOYER_PRIVATE_KEY= # used while merging and generating proofs
ETHERSCAN_API_KEY=

LH_API_KEY= # Used to pin poll results on IPFS
